@model IEnumerable<CIT365_SacramentPlanner.Models.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conductor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningHymnNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymnNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestHymnNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerThree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conductor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHymnNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymnNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestHymnNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerThree)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
